<test>
  <layout-put into="a">
    <div>1</div>
  </layout-put>

  <layout-put into="b" value="2"/>
</test>

<layout-use("./components/test.marko")>
  <layout-put into="a">
    <div>1</div>
  </layout-put>

  <layout-put into="b" value="2"/>
</>

