.a include("./test.marko")
.b include("./nested/index.marko")
.c include("./nested/thing.marko")
.d include("./components/test.marko")
.e include("./test.marko", { value: 1 })
.f include("./nested/index.marko", { value: 1 })
.g include("./nested/thing.marko", { value: 1 })
.h include("./components/test.marko", { value: 1 })
.i include(null)
.j include(false)

import Test from "./test.marko";
.k include(Test)

.l include("./test.marko")
    -- template.marko renderbody

.m include(Test, { value: 1 })

.n
  <var obj = { value: 1 }/>
  <div include("./test.marko", obj)/>

.o
  <var obj = { value: 1 }/>
  <div include("./test.marko", {
    someMethod() {
      return 1;
    },
    get someGetter() {
      return 1;
    },
    [1 + 1]: 2,
    set someSetter(value) {
    },
    async someAsyncMethod() {
      return 1
    },
    *someGeneratorMethod() {
      yield 1;
    },
    ...obj,
    anotherValue: 1
  })/>

.p include("./test.marko", { [1 + 1]: 2, "string-name": 3 })
