import Component1 from "<component-1>";
import Component2Template from "<component-2>";
import _Component from "<component-3>";
import Component4Template from "<component-4>";
static const Component2 = "test";
static const Component3 = "test";
static const Component3Template = "test";
export interface Input {
  show1: boolean;
  show2: boolean;
  show3: boolean;
  show4: boolean;
}
<div id="no-body">
  <${input.show1 ? Component1 : null}/>
  <${input.show2 ? Component2Template : null}/>
  <${input.show3 ? _Component : null}/>
  <${input.show4 ? Component4Template : null}/>
</div>
<div id="with-body">
  <${input.show1 ? Component1 : null}>
    Body 1
  </>
  <${input.show2 ? Component2Template : null}>
    Body 2
  </>
  <${input.show3 ? _Component : null}>
    Body 3
  </>
  <${input.show4 ? Component4Template : null}>
    Body 4
  </>
</div>
-- Referenced Global ${typeof Component4 === "undefined"}