import Component1 from "<component-1>";
import Component2Template from "<component-2>";
import _Component from "<component-3>";
import Component4Template from "<component-4>";
static const Component2 = "test";
static const Component3 = "test";
static const Component3Template = "test";
export interface Input {
  show1: boolean;
  show2: boolean;
  show3: boolean;
  show4: boolean;
}
<div id="no-body">
  <${input.show1 ? null : Component1}/>
  <${input.show2 ? null : Component2Template}/>
  <${input.show3 ? null : _Component}/>
  <${input.show4 ? null : Component4Template}/>
</div>
<div id="with-body">
  <${input.show1 ? null : Component1}>
    Body 1
  </>
  <${input.show2 ? null : Component2Template}>
    Body 2
  </>
  <${input.show3 ? null : _Component}>
    Body 3
  </>
  <${input.show4 ? null : Component4Template}>
    Body 4
  </>
</div>
<div id="revisit">
  <${input.show1 ? null : Component1}/>
</div>
-- Referenced Global ${typeof Component4 === "undefined"}