import "${hi}";
static console.log("${hi}")
$ console.log("${hi}")
<div class="${hi}" id=`${"${hi}"}`>
  ${"${hi}"}
</div>

<div
  a="abc${\"}\"}"
  b="abc${'}'}"
  c="abc${`}`}"
  d="abc${`a${\"}\"}`}"
  e="abc${hello}"
  f="abc${{x: 1}.v}asas"/>