<div>
  <${input.test ? null : "span"}>
    Blah
  </>
  <${input.test ? null : "span"}>
    Blah
  </>
  <if(input.shouldShow)>
    <${input.test ? null : "span"}>
      Blah
    </>
  </if>
  Blah
  <span>
    Blah
  </span>
</div>