<var truthy=true/>
<var falsey=false/>
<var firstName="John"/>
<var lastName="Smith"/>
<var fullName="${firstName} ${lastName}"/>
<var optionalTrue="a" if(truthy)/>
<var optionalFalse="b" if(falsey)/>
<div>${fullName}</div>
