static const fromStatic = "${STATIC}";
$ const fromScriptlet = "${SCRIPLET}";
$ const a = 1;
$ const b = 2;
$ const c = 3;
<div class=a id=`${a}` data-other=b/>
<div id="a">
  ${fromStatic}
</div>
<div id="b">
  ${fromScriptlet}
</div>
<div id="c">
  ${a}
</div>
<div id="d">
  ${`abc${"}"}`}
</div>
<div id="e">
  ${`abc${'}'}`}
</div>
<div id="f">
  ${`abc${`}`}`}
</div>
<div id="g">
  ${`abc${`d${"}"}e`}f`}
</div>
<div id="h">
  ${`abc${c ?? ""}`}
</div>
<div id="i">
  ${`abc${{
    x: 1
  }.missing ?? ""}def`}
</div>