export interface Input {
  show1: boolean;
  show2: boolean;
  show3: boolean;
}
<component-1 body-only-if(input.show1)/>
<component-2 body-only-if(input.show2)/>
<component-3 body-only-if(input.show2)/>
