<div>
    <span body-only-if(input.test)>
        Blah
    </span>

    <span if(input.shouldShow) body-only-if(input.test)>
        Blah
    </span>

    <span body-only-if(true)>
        Blah
    </span>

    <span body-only-if(false)>
        Blah
    </span>
</div>
