<div w-body/>
<div w-body>Child Content</>

<var inputAlias=input/>
<div w-body=inputAlias.renderBody/>

<var bodyAlias=input.renderBody/>
<div w-body=bodyAlias/>

<var textContent="Text Content"/>
<div w-body=textContent/>
