$ var firstName = "John";
$ var lastName = "Smith";
$ var fullName = true;
$ fullName = `${firstName ?? ""} ${lastName ?? ""}`;
<div>
  ${fullName}
</div>
$ var count = 0;
$ count++;
$ if (count === 1) {
  count++;
}
<div>
  ${count}
</div>