<var someData = { y: 2 }/>

<layout-use("./test.marko")/>
<layout-use("./test.marko", { x: 1 })/>
<layout-use("./test.marko", someData)/>

<layout-use("./components/test.marko")/>
<layout-use("./components/test.marko", { x: 1 })/>
<layout-use("./components/test.marko", someData)/>
