import Test from "./test.marko";
$ var someData = {
  y: 2
};
<${Test}/>
<${Test} x=1/>
<${Test} ...someData/>
<if(someData.y > 2)>
  <${Test}/>
</if>
<if(someData.y <= 2)>
  <${Test}/>
</if>
<test/>
<test x=1/>
<test ...someData/>