<div>
  <if(typeof input.renderBody === "string")>
    ${input.renderBody}
  </if>
  <else>
    <${input.renderBody}/>
  </else>
</div>
<div>
  <if(typeof input.renderBody === "string")>
    ${input.renderBody}
  </if>
  <else>
    <${input.renderBody}>
      Child Content
    </>
  </else>
</div>
$ var inputAlias = input;
<div>
  <${inputAlias.renderBody}/>
</div>
$ var bodyAlias = input.renderBody;
<div>
  <if(typeof bodyAlias === "string")>
    ${bodyAlias}
  </if>
  <else>
    <${bodyAlias}/>
  </else>
</div>
$ var textContent = "Text Content";
<div>
  <if(typeof textContent === "string")>
    ${textContent}
  </if>
  <else>
    <${textContent}/>
  </else>
</div>